@import "src/theme/exports/top-input-header";
@import "src/theme/core/form-input";
@import "src/theme/core/form-input-title";
@import "src/theme/core/form-array";
@import "src/theme/core/form-image-picker";
@import "src/theme/core/form-input-image-picker";
@import "/src/theme/exports/add-from.scss";



.review-user{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap!important;
}

